@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
      
      --primary: 212, 42.06%, 20.98%;  /* header and nav */

      --background: 220, 23.08%, 97.45%; /* for the main page */
      
      --card: 0, 0%, 100%; 
      
      --accent: 212.07, 44.62%, 25.49%; /* primary buttons*/
      
      --secondary: 213.33, 28.12%, 87.45%; /* tags and dividers or soft UI*/

      /* --background: 220 20% 97%;      
      --foreground: 210 42% 21%;    
      --card: 0 0% 100%;          
      --card-foreground: 210 42% 21%;
      --popover: 0 0% 100%;
      --popover-foreground: 210 42% 21%;
      --primary: 210 45% 25%;        
      --primary-foreground: 0 0% 100%;
      --accent: 210 45% 25%;         
      --accent-foreground: 0 0% 100%;

      --secondary: 215 25% 87%;      
      --secondary-foreground: 210 42% 21%;
      --muted: 215 25% 92%;
      --muted-foreground: 210 15% 40%;
      --border: 215 25% 87%;
      --input: 215 25% 87%;
      --ring: 210 45% 25%;
      --destructive: 0 84.2% 60.2%;
      --radius: 0.625rem;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%; */
  }
 
  .dark:root {


      --background: 211.3, 43.4%, 10.39%;
      --card: 211.76, 41.46%, 16.08%;
      --primarytext: 213.33, 25.71%, 93.14%;
      --accent: 212.65, 41.98%, 31.76%;
      --secondarytext: 211.67, 23.08%, 69.41%;

      /* --background: 215 35% 10%;      
      --foreground: 210 20% 92%;     

      --card: 215 30% 16%;            
      --card-foreground: 210 20% 92%;

      --popover: 215 30% 16%;
      --popover-foreground: 210 20% 92%;


      --primary: 210 42% 32%;  
      --primary-foreground: 210 20% 96%;

      --accent: 210 42% 32%;
      --accent-foreground: 210 20% 96%;

    
      --secondary: 215 28% 22%;
      --secondary-foreground: 210 20% 92%;

      --muted: 215 28% 20%;
      --muted-foreground: 210 15% 70%;


      --border: 215 28% 22%;
      --input: 215 28% 22%;
      --ring: 210 42% 32%;

      --destructive: 0 70.9% 59.4%;
      --radius: 0.625rem;

      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%; */
    }
}